[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/google/docsy.git
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = https://github.com/HelloRusk/HugoTeX
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
